{{ 'ozel-alan.css' | asset_url | stylesheet_tag }}
<section class="pathList">
	<div class="container">
      {% if section.settings.collection %}
        {% assign collection_handle = section.settings.collection %}
        {% assign collection = collections[collection_handle] %}
        {% if collection %}
    		<div class="bd-product-list">
    			<div class="bd-product-list-item">
    				<h3>
    					{{ collection.description }}
    				</h3>
    				<a href="{{ collection.url }}" title="{{ collection.title }}" class="bd-product-list-item-a">
    					SHOP COLLECTION
    					<img src="{{ 'chevron-right.svg' | asset_url }}" alt="chevron right">
    				</a>
    				<div class="bd-product-list-item-image">
    					<img src="{{ collection.image | img_url: 'master' }}" alt="{{ collection.title }}">
    				</div>
    			</div>
                {% assign last_product = collection.products | last %}
    			<div class="bd-product-list-item type2 bd-desktop-product-list-item"> 
                    <div class="bd-product-list-item-image">
                      <img src="{{ last_product.featured_image | img_url: '652x652' }}" alt="{{ last_product.title }}">
                      {% if last_product.metafields.custom.new_product == true %}
                        <span class="bd-new_product">
                            New Product
                        </span>
                        <h2 class="bd-product-title">
                            {{ last_product.title }}
                            {% if last_product.price_varies %}
                              <span>{{ last_product.price_min | money }} - {{ last_product.price_max | money }}</span>
                            {% else %}
                              <span>{{ last_product.price | money }}</span>
                            {% endif %}
                        </h2>
                      {% endif %}
                      {% if last_product.metafields.custom.color_options %}
                          {% assign color_options_raw = last_product.metafields.custom.color_options %}
                          {% assign cleaned_color_options = color_options_raw | remove: '"' | remove: '[' | remove: ']' %}
                          {% assign color_array = cleaned_color_options | split: ',' %}
                          <div class="bd-product-colors">
                              <ul>
                                  {% for color in color_array %}
                                  <li>
                                      <span style="background:{{ color | strip }}"></span>
                                  </li>
                                  {% endfor %}
                              </ul>
                          </div>
                      {% endif %}
                    </div>
    				{{ last_product.description }}
                    <a href="{{ last_product.url }}" class="bd-see-product">
                      See Product
                    </a>
                </div>
    			<div class="bd-product-list-item type2 bd-mobil-product-list-item"> 
    				<div class="owl-carousel owl-theme" id="productListImage">
                        {% for image in last_product.images %}
    					<div class="item">
    						<div class="bd-product-list-item-image">
    							<img src="{{ image.src | img_url: '800x800' }}" alt="{{ last_product.title }}">
                                {% if forloop.first and last_product.metafields.custom.new_product == true %}
    							<span class="bd-new_product">
    								New Product
    							</span>
                                {% endif %}
                                {% if forloop.first %}
    							<h2 class="bd-product-title">
    								{{ last_product.title }}
    								{% if last_product.price_varies %}
                                      <span>{{ last_product.price_min | money }} - {{ last_product.price_max | money }}</span>
                                    {% else %}
                                      <span>{{ last_product.price | money }}</span>
                                    {% endif %}
    							</h2>
                                {% endif %}
                                {% if forloop.first and last_product.metafields.custom.color_options %}
                                    {% assign color_options_raw = last_product.metafields.custom.color_options %}
                                    {% assign cleaned_color_options = color_options_raw | remove: '"' | remove: '[' | remove: ']' %}
                                    {% assign color_array = cleaned_color_options | split: ',' %}
            						<div class="bd-product-colors">
        								<ul>
                                            {% for color in color_array %}
        									<li>
                                                <span style="background:{{ color | strip }}"></span>
                                            </li>
                                            {% endfor %}
        								</ul>
        							</div>
                                {% endif %}
    						</div>
    					</div>
                        {% endfor %}
    				</div>
    				{{ last_product.description }}
                    <a href="{{ last_product.url }}" class="bd-see-product">
                      See Product
                    </a>
    			</div>         
    		</div>
        {% endif %}
      {% endif %}
	</div>
</section>
<script>
	$('#productListImage').owlCarousel({
	    margin: 0, // Eğer öğeler 256px ise margin eklemeyelim veya manuel verelim
	    nav: false,
	    dots: false,
	    autoWidth: true, // Otomatik genişliği kapatıyoruz
	    loop: false, // Döngü devam edebilir
	    startPosition: 0, // İlk pozisyon 0 olsun
	    slideBy: 1, 
	    items:1
	});
	$('#productListImage').on('initialized.owl.carousel', function() {
	    $('.owl-stage').removeAttr('style').css('transform', 'translate3d(0px, 0px, 0px)');
	    $('.owl-stage').removeAttr('style').css('width', 'auto');
	});
</script>




{% schema %}
  {
    "name": "Custom Codes",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Koleksiyon Seçin",
        "info": "Bir koleksiyon seçin"
      },
      {
        "type": "textarea",
        "id": "description",
        "label": "Açıklama",
        "default": "Bu benim özel bölümüm."
      }
    ],
    "presets": [
      {
        "name": "Custom Codes",
        "category": "Custom"
      }
    ]
  }
{% endschema %}